doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Grobal News-Home
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Corben' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='/stylesheets/index.css')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js' integrity='sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js')
  body 
    .container-fluid.header-css(role="banner")
      .row
        header.col-xl-2.offset-xl-1.col-lg-3.col-md-3.col-sm-12.col-9
          h3 Grobal News  
        .col-3.nav-btn
          button#navBtn.btn(type="button")
            // <span class="nav-icon"></span>
            img(alt="button" src="data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
        nav#navList.col-xl-5.col-lg-6.col-md-9.col-sm-12.nav-bar(role="navigation")
          ul.nav
            li.nav-item
              a(href="/") Home
            li.nav-item
              a(href="/news/list") News
            li.nav-item
              a(href="/videos/list") Videos
            li.nav-item
              a(href="/pictures/list") Images
            li.nav-item
              a(href="/aboutus") About Us
        .d-flex.col-xl-3.col-lg-3(role="search")
          a.align-self-center.ml-auto.btn.btn-primary Sign in
    block content
    script(src="/javascripts/admin.js")
