extend admin_layout_login

block content
  .row(id="admin_main")
    .col-3(id="admin_nav")
      nav.nav.flex-column
        a.nav-link.text-center(href="/admin") Overview
        a.nav-link.text-center(href="/admin/news/data") News Management
        a.nav-link.text-center(href="/admin/videos/data") Videos Management
        a.nav-link.text-center(href="/admin/pictures/data") Pictures Management
        a.nav-link.active.text-center(href="/admin/category/data") Categories Management
        a.nav-link.text-center(href="/admin/tag/data") Tags Management
        a.nav-link.text-center(href="/admin/spider/data") Crawler Rules
        a.nav-link.text-center(href="/admin/feedback/data") Feedback
    .col-9
      nav(aria-label="breadcrumb")
          ol.breadcrumb
            li.breadcrumb-item
              a(href="#") Admin
            li.breadcrumb-item Categories Management
            li.breadcrumb-item.active Categories Createment
      hr
      
      .row.mb-3
        label.col-sm-2.col-form-label(for="inputCategoryName") Category Name:
        .col-sm-10
          input#inputCategoryName.form-control(type="text", value=category.name)
          img(onclick='startDictation(this)',src='https://i.imgur.com/cHidSVu.gif')
      .row.mb-3
        label.col-sm-2.col-form-label(for="inputCategoryActived") Actived:
        .col-sm-10
          input#inputCategoryActived.form-control(type="text", value=category.actived)
          img(onclick='startDictation(this)',src='https://i.imgur.com/cHidSVu.gif')
      .row.mb-3
        label.col-sm-2.col-form-label(for="inputLevel") Level:
        .col-sm-10
          input#inputLevel.form-control(type="text", value=category.level)
          img(onclick='startDictation(this)',src='https://i.imgur.com/cHidSVu.gif')
      button#cateCreateBtn.btn.btn-primary(type="submit", cid=category._id) Submit
      script(src="/javascripts/voice.js")
