extend admin_layout

block content
  .container
    .row.justify-content-center
      .col-6
        h1.h3.mb-3.fw-normal.text-center Sign in
        label.visually-hidden(for='inputAccount')
        input#inputAccount.form-control(type='text' placeholder='account' required='' autofocus='')
        label.visually-hidden(for='inputPassword')
        input#inputPassword.form-control(type='password' placeholder='Password' required='')
        button#loginBtn.w-100.btn.btn-lg.btn-primary.mt-4(type='submit') Sign in