extend admin_layout_login

block content
  #admin_main.row
    #admin_nav.col-3
      nav.nav.flex-column
        a.nav-link.text-center(href="/admin") Overview
        a.nav-link.text-center(href="/admin/news/data") News Management
        a.nav-link.text-center(href="/admin/videos/data") Videos Management
        a.nav-link.text-center(href="/admin/pictures/data") Pictures Management
        a.nav-link.text-center(href="/admin/category/data") Categories Management
        a.nav-link.active.text-center(href="/admin/tag/data") Tags Management
        a.nav-link.text-center(href="/admin/spider/data") Crawler Rules
    .col-9
      nav(aria-label="breadcrumb")
          ol.breadcrumb
            li.breadcrumb-item
              a(href="#") Admin
            li.breadcrumb-item Tags Management
            li.breadcrumb-item.active Tags Createments
      hr
      .tagsform
        .row.mb-3
          label.col-sm-2.col-form-label(for='inputTagName') Label Name:
          .col-sm-10
            input#inputTagName.tagsform-control(type='text', value = tag.name)
            img(onclick='startDictation(this)',src='https://i.imgur.com/cHidSVu.gif')
        .row.mb-3
          label.col-sm-2.col-form-label(for='inputTagActived') Actived:
          .col-sm-10
            input#inputTagActived.tagsform-control(type='text', value=tag.actived)
            img(onclick='startDictation(this)',src='https://i.imgur.com/cHidSVu.gif')
        button#tagCreateBtn.btn.btn-primary(type='submit',tid=tag._id) Submit
  script(src="/javascripts/voice.js")
